notebook==6.0.3
datasette==0.45
datasette-cluster-map==0.10
datasette-leaflet-geojson==0.4
ipyleaflet==0.13.3
matplotlib==3.3.0
notebook==6.0.3
Shapely==1.7.0
geometry-to-spatialite==0.3.1
csvkit==1.0.5
markdown==3.2.2
frontmatter==3.0.7
-e git+https://github.com/digital-land/govuk-jinja-components.git#egg=govuk_jinja_components
