{% extends "base.html" %}
{% from "govuk-jinja-components/phase-banner/macro.jinja" import govukPhaseBanner %}
{% from "govuk-jinja-components/breadcrumbs/macro.jinja" import govukBreadcrumbs %}

{% block head %}
<!-- TBD: move to version which is on our CDN -->
<link href="https://digital-land-design.herokuapp.com/static/stylesheets/dl-frontend.css" rel="stylesheet" />
{% endblock %}

{% block header %}
{% include 'dl-partials/dl-header.html' %}
{% endblock %}

{% block beforeContent %}
	{{ govukPhaseBanner({
		"classes": "govuk-width-container",
		"tag": {
			"text": "prototype"
		},
		"html": 'This is a prototype. Please provide feedback to the Digital Land team.'
	}) }}

  {% block dl_breadcrumbs %}{% endblock %}

{% endblock %}

{% block content %}{% endblock %}

{% block bodyEnd %}
<script src="/static/javascripts/govuk/govuk-frontend-3.0.0.min.js"></script>
<script>
	// initiate all GOVUK components
	window.GOVUKFrontend.initAll();
</script>
{% endblock %}
